<div class="container">
  <h2>Request a Callback</h2>
  <form [formGroup]="requestCallbackForm" (submit)="submit()" class="form">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="requestCallbackForm.get('name')?.value.length == 0">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone" />
      <mat-icon matSuffix>phone</mat-icon>
      <mat-error
        *ngIf="requestCallbackForm.get('phone')?.invalid && (requestCallbackForm.get('phone')?.dirty || requestCallbackForm.get('phone')?.touched)">
        <ng-container *ngIf="requestCallbackForm.get('phone')?.errors?.['required']">
          Phone is required
        </ng-container>
        <ng-container *ngIf="requestCallbackForm.get('phone')?.errors?.['minlength']">
          Phone number must be at least 10 digits
        </ng-container>
        <ng-container *ngIf="requestCallbackForm.get('phone')?.errors?.['maxlength']">
          Phone number must be at most 10 digits
        </ng-container>
        <ng-container *ngIf="requestCallbackForm.get('phone')?.errors?.['pattern']">
          Invalid phone number format
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Note" formControlName="note" rows="4"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!requestCallbackForm.valid">Submit</button>
  </form>
</div>